//@import "icons/style";

@import "variables";

@import "base/reset";
@import "base/typography";
@import "base/util";
@import "base/wrapper";

.btn {
  display: inline-block;
  padding: unit(1/4) unit(1/2);
  color: $white;
  background-color: $gray-400;
  border-radius: unit(1/4);
  cursor: pointer;
  appearance: none;
  border: none;
  margin: 0;
  font-size: $font-size-base;

  font-family: $font-family;
  font-weight: $font-weight-normal;

  &:visited {
    color: $white;
  }

  &[disabled] {
    background-color: $gray-700;
  }
}

.btn + .btn {
  margin-left: unit(1/4);
}


.heading {
  text-align: center;
}

.wrapper-vertical {
  display: flex;
  justify-items: center;
  align-items: center;
}

.header {
  @extend .wrapper;
}

.footer {
  @extend .wrapper;
  margin-top: unit(2);
  margin-bottom: unit(2);
}

.error {
  color: $red;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  > .list__item + .list__item {
    margin-top: unit(1);
  }

  &--dashed {
    > .list__item + .list__item {
      margin-top: unit(1/2);
      padding-top: unit(1/2);
      border-top: unit(1/16) solid $gray-500;
    }
  }

  &--100 {
    .btn {
      width: 100%;
    }
    .input__tag {
      width: 100%;
    }
  }
}

.input {
  display: block;
  &__label {
    display: block;
    font-weight: $font-weight-bold;
  }
  &__tag {
    border: unit(1/16) solid $gray-400;
    font-size: $font-size-base;

    font-family: $font-family;
    font-weight: $font-weight-normal;
    padding: unit(1/4) unit(1/2);
  }
}

select.input__tag {
  min-width: 200px;
}
